/build_core/
/intel_a/
/ToolsData/
/smoke_output*/
/selftest_output*/
/tests/caa_completion/results_semantic*/
/build_r21.log
/CATIAV5Level.lvl
/Install_config_intel_a
**/Objects/
**/LocalGenerated/
**/ImportedInterfaces/
**/various/
