CadCapture.edu/ImportedInterfaces/
CadCapture.edu/IdentityCard/Objects/
CadCapture.edu/CadCapture.m/Objects/
CadCapture.edu/CadCapture.m/LocalGenerated/
CadCapture.edu/various/

build_core/
intel_a/
win_b64/
selftest_output/
phase1a_output/
phase1a_old_output/
phase1a_part_old_output/
phase1a_part_new_output/
phase1b_product_output/
phase1b_product_old_output/
phase1b_product_new_output/
phase2_product_output/
phase*_output/
full_legacy_parity_output/
tree_comparison.json
catpart_comparison.json
catproduct_comparison.json
phase*_comparison.json
*.log
CATIAV5Level.lvl
Install_config_*
