CadCapture.edu/ImportedInterfaces/
CadCapture.edu/IdentityCard/Objects/
CadCapture.edu/CadCapture.m/Objects/
CadCapture.edu/CadCapture.m/LocalGenerated/
CadCapture.edu/various/

build_core/
intel_a/
win_b64/
selftest_output/
phase1a_output/
phase1a_old_output/
tree_comparison.json
*.log
CATIAV5Level.lvl
Install_config_*
